/* Логотип */

.logo {
	display: flex;
	align-items: center;
}
.logo__link {
	margin-right: 93px;
}

.logo__container {
	display: flex;
}
.logo__text {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	@include desktop {
		font-size: 26px;
	}
}

.logo--accent-color {
	color: var(--accent-color);
}

.logo--primary-color {
	color: var(--primary-text-color);
}
