:root {
	--primary-text-color: #212121;
	--second-text-color: #757575;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--accent-section-color: #2f303a;
	--primary-icon-color: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
